-- Copy this to a repo root as .nvim.lua.
-- nvim-config-local will prompt you to trust it.

vim.g.repo_tools = {
  repo_type = "django",
  root_markers = {
    ".git",
    "pyproject.toml",
    "manage.py",
    "package.json",
    "Makefile",
  },
  paths = {
    models = {
      "sites/common/models",
      "apps/**/models",
      "src/**/models",
    },
    serializers = {
      "sites/api/serializers",
      "apps/**/serializers",
    },
    views = {
      "sites/api/views",
      "sites/views",
      "apps/**/views",
    },
    routes = {
      "config",
      "sites/**",
      ".",
    },
    tests = {
      "sites/api/tests",
      "sites/**/tests",
      "tests",
    },
    templates = {
      "templates",
      "sites/**/templates",
    },
    infra = {
      ".github/workflows",
      "k8s",
      "helm",
      "docker",
      ".",
    },
    env = {
      ".",
      ".github/workflows",
      "k8s",
      "helm",
      "docker",
    },
  },
}
