[user]
	email = will@developerfy.com
	name = William Blackie

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	default = current

[pull]
	rebase = false

[fetch]
	prune = true

[include]
	path = ~/.config/delta/catppuccin.gitconfig

[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global
	ignorecase = true
	pager = delta

[alias]
	# Short commands
	st = status
	co = checkout
	br = branch
	cm = commit
	lg = log --oneline --graph --decorate --all
	
	# Useful aliases
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	
	# Show files ignored by git
	ignored = ls-files --others --ignored --exclude-standard
	
	# Pretty log
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	
	# Show diff of last commit
	dlc = diff --cached HEAD^
	
	# Undo last commit
	undo = reset --soft HEAD^

[color]
	ui = auto

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[credential]
	helper = 
	helper = manager
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-mocha
	navigate = true
	line-numbers = true
	hyperlinks = true
[credential "https://dev.azure.com"]
	useHttpPath = true
