
[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
	default = current

[pull]
	rebase = false

[fetch]
	prune = true

[include]
	path = ~/.config/delta/catppuccin.gitconfig

[includeIf "gitdir:~/Projects/mabyduck/"]
	path = ~/.gitconfig-mabyduck

[includeIf "gitdir:~/Projects/developerfy/"]
	path = ~/.gitconfig-developerfy

[includeIf "gitdir:~/Projects/personal/"]
	path = ~/.gitconfig-personal

[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global
	ignorecase = true
	pager = delta

[alias]
	# Short commands
	st = status
	co = checkout
	br = branch
	cm = commit
	lg = log --oneline --graph --decorate --all
	
	# Useful aliases
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	
	# Show files ignored by git
	ignored = ls-files --others --ignored --exclude-standard
	
	# Pretty log
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	
	# Show diff of last commit
	dlc = diff --cached HEAD^
	
	# Undo last commit
	undo = reset --soft HEAD^
	wt = !wt
	tags-reset = "!f(){ remote=\"${1:-origin}\"; tags=\"$(git tag -l)\"; if [ -n \"$tags\" ]; then printf \"%s\\n\" \"$tags\" | xargs -n 1 git tag -d >/dev/null 2>&1; fi; git fetch \"$remote\" --tags --prune --prune-tags; }; f"

[color]
	ui = auto

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff

[interactive]
	diffFilter = delta --color-only

[delta]
	features = catppuccin-mocha
	navigate = true
	line-numbers = true
	hyperlinks = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = William Blackie
	email = will@developerfy.com
